<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1 style = "margin: 20px; background-color: greenyellow;">Thanks a lot</h1>
        <h3 style="margin: 10px;">NodeMailer for sending the email notification</h3>
        <p style="margin:10px">This was a test message that checked if we can send HTML content when triggering a mail from NodeMailer</p>
    </div>
</body>
</html>